@model SchoolWeb.Models.Evaluations.StudentEvaluationsCourseDetailsViewModel
@{
    ViewData["Title"] = "Evaluations";
}

<br>
<br>
<h3 class="text-center">Evaluations</h3>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-auto">
                <input asp-for="CourseName" class="form-control bg-secondary" style="height: 3rem; color: white;" disabled="disabled" />
                <br>
                <br>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Duration)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().HoursAbsence)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().PercentageAbsence)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Grade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Disciplines != null)
                        {
                            @foreach (var item in Model.Disciplines)
                            {
                                <tr style="@item.BackgroundColor">
                                    <td class="align-middle font-weight-bold">
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Duration)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.HoursAbsence)
                                    </td>
                                    <td class="align-middle font-weight-bold">
                                        @if (item.FailedAbsence == true)
                                        {
                                            <span style="color: darkred;">
                                                @Html.DisplayFor(modelItem => item.PercentageAbsence)<span>%</span>
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.PercentageAbsence)<span>%</span>
                                        }
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td class="align-middle font-weight-bold">
                                        @if (item.FailedGrade == true)
                                        {
                                            <span style="color: darkred;">
                                                @Html.DisplayFor(modelItem => item.Grade)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="col-md-2 offset-md-5 nav-item text-center">
            <a asp-controller="Evaluations" asp-action="StudentEvaluationsCourses" asp-route-userName="@this.User.Identity.Name" class="nav-link text-dark">Back</a>
        </div>
    </div>
</div>
